VITE_FIREBASE_API_KEY=AIzaSyD--5lkfyz0mtPP5uBDPbmPru76isKnWQw
VITE_FIREBASE_AUTH_DOMAIN=warehous-c9357.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=warehous-c9357
VITE_FIREBASE_STORAGE_BUCKET=warehous-c9357.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=808240770259
VITE_FIREBASE_APP_ID=1:808240770259:web:bbdb7096b7d9d5445d7826
VITE_FIREBASE_MEASUREMENT_ID=G-R32QCZ2LME
VITE_ADMIN_EMAIL=cherryliao43@gmail.com
