rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /warehouseLocations/{docId} {
      allow read: if true;

      allow create, update, delete:
      if request.auth != null
      && request.auth.token.email in [
        "cherryliao43@gmail.com",
        "sela21depot@gmail.com"
      ];
    }
  }
}
